<template>
  <div>
    <div v-if="item">
      <Breadcrumb :setCategories="categories"></Breadcrumb>
      <b-row class="detail">
        <b-col>
          <b-carousel class="containerImg" indicators>
            <b-carousel-slide
                class="slide-img"
                v-for="pic in item.pictures"
                :key="pic.id"

                :img-src="pic.url"
            ></b-carousel-slide>
          </b-carousel>
        </b-col>
        <b-col class="containerDetails">
          <span>Nuevo | {{ item.sold_quantity }} vendidos</span>
          <p>{{ item.title }}</p>
          <div>{{ item.price | toCurrency }}</div>
          <b-btn variant="primary" size="lg" target="_blank" tag="a" :href="item.permalink">Comprar</b-btn>
        </b-col>
      </b-row>

      <b-row class="description">
        <span>Descripción del producto</span>
      </b-row>

      <b-row class="description">
        <b-col tag="div">
          {{ description }}
        </b-col>
        <b-col></b-col>
      </b-row>
    </div>
    <div v-else>

      <NotFound v-show="show"></NotFound>

    </div>
  </div>
</template>

<script>
import serviceItem from '@/https/items'
import Breadcrumb from '@/components/Breadcrumb'
import NotFound from './NotFound'
import { mapState } from 'vuex'

export default {
  name: 'Details',
  components: {
    Breadcrumb,
    NotFound
  },
  data () {
    return {
      item: null,
      categories: [],
      description: '',
      show: false
    }
  },
  computed: {
    ...mapState(['items', 'token'])

  },
  methods: {

    async retrieveData () {
      if (this.token) {

        const result = await serviceItem.getItem(this.$route.params.id, this.token)
        serviceItem.getItemDescription(this.$route.params.id, this.token).then(resultDescription => {

          this.description = resultDescription.data.plain_text
        }).catch(() => {
          this.description = 'Sin descripción'
        })

        this.item = result.data.item
        this.categories = result.data.categories

      }
    }
  },
  watch: {
    async token (newValue) {
      if (newValue) {
        await this.retrieveData()
      }
    }
  },
  async mounted () {
    await this.retrieveData()
  }

}
</script>

<style lang="scss" scoped>

.detail {
  background-color: $bg;

  .containerImg {
    max-height: 600px;
    max-width: 500px;
    min-height: 600px;
    min-width: 500px;

    .slide-img {
      float: left;
      max-height: 600px;


    }
  }

  .containerDetails {
    margin: 0px;
    padding: 32px 0px 0px 16px;

    span {
      font-size: 14px;
    }

    p {
      padding: 16px 0px 0px 0px;
      margin: 0px;
      font-size: 24px;
    }

    div {
      padding: 32px 0px;
      font-size: 46px;
    }

  }
}

.description {
  background-color: $bg;
  padding: 0px 0px 0px 32px;


  span {

    font-size: 28px;
    padding: 32px 0px;

  }

  div {
    font-size: 16px;
    padding: 0px 0px 32px 0px;
  }

}

.fade-enter-active, .fade-leave-active {
  transition: opacity .7s
}

</style>