<template>
  <div>
    <Breadcrumb :setCategories="renderCategories"></Breadcrumb>
    <div v-if="renderItems">
      <b-row class="customRow" v-for="(item) in renderItems" :key="item.id">
        <b-col class="containerImg" md="auto">
          <img :src="item.thumbnail" :alt="item.title" @click="toDetail(item.id)"/>
        </b-col>
        <b-col class="info">

          <p class="price">{{ item.price | toCurrency }}
            <img style="width: 18px; height: 18px" :src="img_shipping" alt="free shipping"
                 v-if="item.shipping.free_shipping">
          </p>

          <a @click="toDetail(item.id)">{{ item.title }}
            <p>{{ item.attributes.value_name }}</p>
          </a>

        </b-col>
        <b-col class="location">
          <span>{{ item.seller_address.city.name }}</span>
        </b-col>
      </b-row>
    </div>
    <b-row v-else>
      <b-col>

      </b-col>
    </b-row>

  </div>
</template>

<script>
import Breadcrumb from '@/components/Breadcrumb'
import { mapState, mapMutations } from 'vuex'
import serviceItem from '@/https/items'

export default {
  name: 'Results',
  components: {
    Breadcrumb
  },
  data () {
    return {
      img_shipping: 'https://storageaccountmercado.blob.core.windows.net/containerphones/ic_shipping.png',
      query: ''
    }
  },
  computed: {
    ...mapState(['items', 'token']),
    renderItems () {
      return this.items.items
    },
    renderCategories () {
      if (this.items.length && typeof this.items.categories[0] === 'string') {
        return this.items.categories.map(o => {
          return {'id': this.items.items[0].category_id, 'name': o}
        })
      }
      return this.items.categories
    }
  },
  methods: {
    ...mapMutations(['setItems']),
    toDetail (id) {
      this.$router.push({name: 'items', params: {id: id}})
    }
  },
  watch: {
    async token (newValue) {
      if (newValue && this.$route.query['search']) {
        const result = await serviceItem.getItems(this.$route.query['search'], this.token)
        this.setItems(result.data)
      }

    }
  }
}
</script>

<style lang="scss" scoped>
img {
  width: 180px;
  height: 220px;

}

.customRow {
  padding: 16px 0px;
  background-color: $bg;

  .containerImg {
    padding: 0px 16px;

    img {
      width: 180px;
      height: 220px;
      cursor: pointer;

    }
  }

  .info {
    padding: 0px 0px;


    p.price {
      font-size: 24px;
      padding: 32px 0px;
      margin: 0px 0px;
    }

    a {
      text-decoration: none;
      color: $ml-black;
      font-size: 18px;
      cursor: pointer;

      &:hover {
        color: $ml-grey;
      }
    }


  }

  .location {
    text-align: center;
    padding: 32px 0px;
  }

}


</style>