<template>
  <div id="main">
    <div class="fof">
      <h3>404</h3><br>
      <img :src="img" alt="phone not found">
    </div>
  </div>

</template>

<script>
export default {
  name: 'NotFound',
  data () {
    return {
      img: 'https://storageaccountmercado.blob.core.windows.net/containerphones/notFound.png'
    }
  }
}
</script>

<style lang="scss" scoped>

#main {
  display: table;
  width: 100%;
  height: 60vh;
  text-align: center;
}
.fof {
  display: table-cell;
  vertical-align: middle;
  h3 {
    font-size: 50px;
    display: inline-block;
    padding-right: 12px;
 }
}

</style>