<template>
  <b-navbar type="light" variant="warning">
    <b-navbar-nav class="container">

      <b-navbar-brand class="mb-0">
        <b-img :src="logo" @click="goHome" alt="tienda iphone"></b-img>
      </b-navbar-brand>

      <b-input-group tag="form" @submit.prevent="search">
        <b-form-input class="input"
                      v-model="text"
                      placeholder="Busca productos, marca y mas...">
        </b-form-input>

        <b-input-group-append>
          <b-btn type="submit" variant="light">
            <b-img :src="search_img" alt="buscar iphone"></b-img>
          </b-btn>
        </b-input-group-append>
      </b-input-group>

    </b-navbar-nav>

  </b-navbar>
</template>

<script>
import items from '@/https/items'
import { mapState, mapMutations } from 'vuex'

export default {
  name: 'nav-bar',
  data () {
    return {
      text: '',
      logo: 'https://storageaccountmercado.blob.core.windows.net/containerphones/Logo_ML.png',
      search_img: 'https://storageaccountmercado.blob.core.windows.net/containerphones/ic_Search.png'
    }
  },
  computed: {
    ...mapState(['token'])
  },
  methods: {
    ...mapMutations(['setItems']),
    goHome () {
      this.text = ''
      this.$router.push('/').catch(() => {})
    },
    async search () {

      const result = await items.getItems(this.text, this.token)
      this.setItems(result.data)

      this.$router.push('/items').catch(() => {})
    }
  }

}
</script>

<style lang="scss">
img {
  cursor: pointer;
}
</style>