<template>

  <ul class="customBreadcrumb">

    <li v-for="item in setCategories" :key="item.id">
      <router-link tag="a" to="/items" >{{ item.name }}</router-link>
    </li>

  </ul>

</template>

<script>


export default {
  name: 'Breadcrumb',
  props: ['setCategories'],


}
</script>

<style lang="scss" scoped>

ul.customBreadcrumb {
  padding: 16px 0px;
  list-style: none;
  margin: 0px 0px;

  li {
    display: inline;
    font-size: 14px;
    color: $ml-grey;

    + {
      li {
        &:before {
          padding: 5px;
          content: ">";
        }
      }
    }

    a {
      text-decoration: none;
      color: $ml-grey;

      &:hover {
        color: $ml-black;
      }

      &:active {
        color: red;
        text-decoration: underline;
      }
    }
  }
}

</style>