<template>
  <div id="app">
    <Banner></Banner>
    <b-container>
      <router-view/>
    </b-container>
  </div>
</template>

<script>
import Banner from '@/components/Banner'
import login from '@/https/user'
import { mapMutations, mapState } from 'vuex'

export default {
  name: 'App',
  components: {
    Banner
  },
  data () {
    return {}
  },
  computed: mapState(['userPayload']),
  methods: {
    ...mapMutations(['setUser', 'setItems', 'setToken'])
  },
  async mounted () {
    if (!this.userPayload) {
      const result = await login(process.env.VUE_APP_EMAIL, process.env.VUE_APP_PASSWORD)

      this.setUser(result.data.user)

      this.setToken(result.data.token)

    }
  }
}
</script>

<style lang="scss">

h4 {
  color: $red;

}
</style>
